@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0; }

li {
  list-style: none; }

a {
  display: inline-block;
  text-decoration: none;
  transition: all .4s ease-out; }
  a:hover {
    text-decoration: none; }

img {
  border: 0;
  max-width: 100%;
  height: auto; }

p {
  font-size: 14px;
  line-height: 22px; }

body {
  font-weight: 300;
  font-family: "Poppins", sans-serif; }

h1, h2, h3, h4, h5, h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

.section {
  padding: 60px 0px 70px; }

.banner .slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/banner.jpg");
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; }
  .banner .slide::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1; }
  .banner .slide h1, .banner .slide h2 {
    font-size: 40px;
    margin: 0; }
  .banner .slide p {
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto; }
  .banner .slide a.button {
    margin-top: 40px; }

.categories .category-box {
  height: 300px;
  position: relative;
  overflow: hidden; }
  .categories .category-box img {
    object-fit: cover;
    height: 300px; }
  .categories .category-box .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    padding: 15px;
    padding-bottom: 30px;
    background-color: rgba(85, 45, 218, 0.3);
    transition: all 500ms ease-in-out; }
    .categories .category-box .overlay h4 {
      color: white;
      font-size: 22px; }
  .categories .category-box:hover .overlay {
    background-color: rgba(85, 45, 218, 0.6); }

.products .product {
  border: 1px solid #eee; }
  .products .product .image {
    position: relative; }
    .products .product .image img {
      height: 300px;
      width: 100%;
      object-fit: cover; }
  .products .product .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    box-sizing: border-box;
    opacity: 0; }
    .products .product .overlay a.cart {
      border: 1px solid #552dda;
      background-color: transparent;
      color: #552dda;
      padding: 4px 15px;
      margin-left: 5px;
      font-weight: 600; }
    .products .product .overlay a.wishlist {
      border: 1px solid #552dda;
      background-color: transparent;
      color: #552dda;
      padding: 4px 15px;
      margin-left: 5px; }
    .products .product .overlay a.wishlist:hover, .products .product .overlay a.cart:hover {
      background-color: #552dda;
      color: white; }
  .products .product .info {
    text-align: center;
    padding: 15px 0; }
    .products .product .info h3 {
      font-size: 15px;
      margin: 5px 0; }
    .products .product .info .price {
      display: flex;
      justify-content: center;
      font-size: 14px;
      font-weight: 400; }
      .products .product .info .price div {
        margin-right: 5px; }
    .products .product .info .rating i {
      font-size: 12px;
      color: #ff7b00; }
  .products .product:hover {
    border-color: #552dda; }
    .products .product:hover .overlay {
      opacity: 1; }

.button {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background-color: #552dda;
  padding: 13px 40px;
  letter-spacing: 1px; }
  .button:hover {
    background-color: black; }

.heading {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }
  .heading h2 {
    font-size: 30px; }

.sub-footer {
  background-color: #1b1b1d;
  padding: 65px 70px;
  color: white; }
  .sub-footer h3 {
    font-size: 24px;
    margin-bottom: 25px; }
  .sub-footer .logo {
    margin-bottom: 5px; }

ul.social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px; }
  ul.social li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid white;
    background-color: white;
    color: #222;
    text-align: center;
    margin-right: 5px;
    font-size: 18px; }

ul.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  ul.menu li a {
    color: white;
    margin-bottom: 5px; }

ul.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  ul.links li a {
    color: white; }

.recent-products .product-preview {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden; }
  .recent-products .product-preview .image {
    width: 70px;
    height: 60px;
    margin-right: 10px; }
  .recent-products .product-preview .info {
    width: calc(100% - 70px);
    padding: 5px; }
    .recent-products .product-preview .info h5 {
      font-size: 14px; }
    .recent-products .product-preview .info p.price {
      font-weight: 400; }
    .recent-products .product-preview .info .rating i {
      font-size: 12px;
      color: #ff7b00; }

footer {
  background-color: #131314;
  color: #fff;
  padding: 10px 0; }
  footer p {
    margin-bottom: 0;
    font-size: 14px;
    color: #dddd; }
  footer a {
    color: #dddd;
    font-weight: bold; }
  footer .footer-right {
    text-align: right; }
    footer .footer-right img {
      margin-left: auto;
      margin-bottom: 0; }
    footer .footer-right .logo {
      max-height: 40px;
      width: auto;
      overflow: hidden; }
      footer .footer-right .logo img {
        height: 100%;
        width: auto; }

header {
  background-color: #552dda;
  padding: 10px 0; }
  header ul.menu-bar {
    display: flex;
    align-items: center; }
    header ul.menu-bar li a {
      padding: 7px 15px;
      color: white;
      font-weight: 600; }
      header ul.menu-bar li a:hover {
        color: black; }
  header .logo {
    max-height: 50px;
    max-width: 40px; }
  header .hotlink a {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 5px; }
    header .hotlink a:hover {
      background-color: white;
      color: #552dda; }
