@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all .4s ease-out;
    &:hover{
        text-decoration: none;
    }
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 14px;
    line-height: 22px;
}

body {
    font-weight: 300;
    font-family: $font1;
}

h1, h2, h3, h4, h5, h5{
    font-family: $font1;
    font-weight: 700;
}

